@use "../base" as base;

/* ============================================
  common 
============================================ */
body {
  font-family: base.$zen;
  color: base.$black;
  background: #fff;
  counter-reset: number 0;
  &.is_fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
  }
}

.only_pc {
  display: block;
  @include base.mq(sp) {
    display: none;
  }
}
.only_sp {
  display: none;
  @include base.mq(sp) {
    display: block;
  }
}

a {
  &:focus-visible {
    outline: none;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.is_fw500 {
  font-weight: 500;
}

.is_fw700 {
  font-weight: 700;
}

.is_fcBlk {
  color: #000;
}

.is_fcRed {
  color: #dd0000;
}

.is_fcYlw {
  color: #ffcf00;
}

.el_btn {
  border-radius: base.vw(30);
  background: #3fa796;
  -webkit-transition: base.$transition_3s;
  -o-transition: base.$transition_3s;
  transition: base.$transition_3s;
  @include base.mq(sp) {
    border-radius: base.vw_sp(60);
    margin-left: auto;
    display: block;
  }
  &:hover {
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    @include base.mq(sp) {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: base.vw(16);
    color: #fff;
    font-weight: 500;
    width: base.vw(200);
    height: base.vw(60);
    text-transform: uppercase;
    @include base.mq(sp) {
      font-size: base.vw_sp(35);
      width: base.vw_sp(330);
      height: base.vw_sp(110);
    }
  }
}

.el_fluid {
  @include base.mq(sp) {
    background: #3fa796;
    -webkit-animation: fluidrotate 30s ease 0s infinite;
    animation: fluidrotate 30s ease 0s infinite;
  }
}
@-webkit-keyframes fluidrotate {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes fluidrotate {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
